<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="stsim-ecodep" displayName="ST-Sim Ecological Departure Add-On" version="3.1.0" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="stsim-ecodep" displayName="ST-Sim Ecological Departure" isAddOn="True" extendsModel="stsim" previousNames="ecological-departure-add-on-transformer|stsim-ecological-departure:add-on-transformer">
        <runtime>
          <transformer name="stsim-ecodep:preprocess"/>
          <transformer name="stsim-ecodep:postprocess"/>
        </runtime>
        <include>
          <transformer name="stsim-ecodep:options"/>
        </include>
      </transformer>
      <transformer name="stsim-ecodep:options" displayName="Ecological Departure Options">
        <datafeeds>
          <datafeed name="stsim-ecodep:options-datafeed" displayName="Ecological Departure" dataScope="Scenario">
            <datasheets>
              <datasheet name="ED_Options" displayName="ED Options" isSingleRow="True">
                <columns>
                  <column name="OptionsID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Timesteps"  dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="TransitionAttributeTypeID" displayName="Transition Attribute" dataType="Integer" validationType="Datasheet" formula1="STSim_TransitionAttributeType"/>
                </columns>
              </datasheet>
              <datasheet name="ED_ReferenceCondition" displayName="ED Reference Conditions">
                <columns>
                  <column name="ReferenceConditionID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID"  dataType="Integer"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="STSim_Stratum" allowDbNull="False" displayNameSource="STSim_Terminology" displayNameColumn="PrimaryStratumLabel"/>
                  <column name="StateClassID" displayName="State Class" dataType="Integer" validationType="Datasheet" formula1="STSim_StateClass" />
                  <column name="RelativeAmount" displayName="Relative Amount" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" allowDbNull="False"/>
                  <column name="Undesirability" dataType="Double" validationType="Decimal" validationCondition="Between" formula1="0.0" formula2="2.0"/>
                  <column name="Threshold" displayName="Threshold Percent" dataType="Double" validationType="Decimal" validationCondition="Between" formula1="0.0" formula2="100.0"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="StratumID|StateClassID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer name="stsim-ecodep:preprocess" displayName="Ecological Departure Pre-Process" className="SyncroSim.STSimEcoDep.PreProcessTransformer" classAssembly="SyncroSim.STSimEcoDep" extendsTransformer="stsim:runtime">
      </transformer>
      <transformer name="stsim-ecodep:postprocess" displayName="Ecological Departure Post-Process" className="SyncroSim.STSimEcoDep.PostProcessTransformer" classAssembly="SyncroSim.STSimEcoDep" runOrder="After" extendsTransformer="stsim:runtime">
        <datafeeds>
          <datafeed name="stsim-ecodep:output-datafeed" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="ED_Output" displayName="Ecological Departure">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="StratumID" dataType="Integer"/>
                  <column name="Departure" dataType="Double"/>
                  <column name="CumulativeAttribute" dataType="Double"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer name="stsim-ecodep:report" displayName="Ecological Departure" className="SyncroSim.STSimEcoDep.ReportTransformer" classAssembly="SyncroSim.STSimEcoDep" isExcelOnlyExport="True">
      </transformer>
    </transformers>
    <visualizers>
      <visualizer name="stsim-ecodep:options-datafeed-visualizer" target="stsim-ecodep:options-datafeed" className="SyncroSim.STSimEcoDep.OptionsDataFeedView" classAssembly="SyncroSim.STSimEcoDep"/>
    </visualizers>
    <layouts>
      <layout name="system-forms:scenario-datafeeds" appendTo="Advanced" model="stsim-ecodep">
        <item name="stsim-ecodep:options-datafeed"/>
      </layout>
      <layout name="system-forms:result-transformers" appendTo="Export|Reports" model="stsim-ecodep">
        <item name="stsim-ecodep:report"/>
      </layout>
    </layouts>
  </module>
</configuration>